body{
    height: 100vh;
}

header{
    border: 1px solid black;
    margin-bottom: 40px;

    div:first-child{
        border-right: 1px solid black;
    }
}
.card {
    height: 500px;

    img{
        width: 200px;
        height: 200px;
    }
}