<html xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:replace="~{ fragments :: styles }"/>
    <title>Step 3 - Dettagli Canzoni</title>
</head>
<body>
    <header th:insert="~{fragments :: header-home}"></header>
    <div class="container">
        <h1>Dettagli Canzoni</h1>
    
        <div th:each="song : ${songs}">
            <div th:if="${song.id == songId}">
                <p th:text="'Titolo della canzone: ' + ${song.title}"></p>
            </div>
        </div>
    </div>

</body>
</html>